
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin control panel</h1>

<a asp-controller="Admin" asp-action="Create" class="btn btn-primary">Create role</a>

